*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(#3bcfd4, #fc9305, #f20094);
}

.banner {
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: whitesmoke;
    animation: banner 1s infinite;
    font-size: 40px;
}

@keyframes banner {
    0%, 40%, 100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px);
    }
}

.calculator {
    margin-top: 0;
    padding-top: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px);
}

.calculator > button {
    font-size: 30px;
    border: 3px solid #FECA86;
    background-color: #f8bb6a88;
}

.calculator > button:hover {
    background-color: #3bcfd48a;
}

.span-two-square {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .first-num {
    color: whitesmoke;
    font-size: 30px;
}

.output .second-num {
    color: whitesmoke;
    font-size: 30px;
}